body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  background-color: var(--DarkBlue1);
  color: var(--White);
}

.hero {
  text-align: center;
}
.hero__img {
  height: 275px;
  position: relative;
  top: 40px;
  background: url("/static/images/illustration-intro.png") center no-repeat;
  background-size: 319px;
  margin: 0 calc(-1 * var(--wrapperSpace));
  z-index: 2;
}
.hero__img2 {
  height: 145px;
  background: url("/static/images/bg-curvy-mobile.svg") center no-repeat;
  background-size: 375px;
  margin: 0 calc(-1 * var(--wrapperSpace));
  transform: translateY(-30px);
}

.title__h1 {
  margin-top: 20px;
  padding: 15px;
  font-family: "Raleway", sans-serif;
  font-size: 1.7em;
  line-height: 1.5;
  position: absolute;
  left: 0;
  z-index: 1;
}

.wrapper {
  padding: 0 var(--wrapperSpace);
}

.button {
  border: 0;
  padding: 1em 5em;
  border-radius: 1.5em;
  color: var(--White);
  background-color: var(--Cyan);
  margin-top: 10px;
}

.copy {
  margin: 0px;
  line-height: 1.8;
  padding: 1.5em;
}
.copy::before {
  content: "";
  position: absolute;
  left: 0;
  top: 470px;
  width: 375px;
  height: 250px;
  background-color: var(--DarkBlue2);
  z-index: -1;
}

header {
  display: flex;
  font-weight: 400;
}
header ul {
  display: flex;
  list-style: none;
  position: absolute;
  padding: 1em;
}
header a {
  margin-left: 15px;
  text-decoration: none;
  color: var(--white);
}
header img {
  position: relative;
  padding: 2em;
  height: 30px;
}

.features {
  text-align: center;
  background: var(--DarkBlue2);
  padding-top: 5em;
}
.features__item {
  padding: 2em;
}

.stay {
  background: var(--DarkBlue2);
  text-align: center;
}
.stay__img {
  padding-top: 7em;
  height: 17em;
}
.stay__h1 {
  font-size: 20px;
  margin: 0;
  padding: 15px;
}
.stay__p {
  margin: 0;
  text-align: left;
  padding: 20px;
}

.arrow {
  background: var(--DarkBlue2);
  padding-left: 20px;
  padding-bottom: 20px;
}
.arrow__a {
  text-decoration: none;
  color: var(--Cyan);
}
.arrow__a::before {
  content: "";
  position: absolute;
  margin-top: 20px;
  height: 2px;
  background: var(--Cyan);
  width: 150px;
}

.team {
  background: var(--DarkBlue2);
  position: relative;
}
.team__conteiner {
  padding: 3em;
  padding-bottom: 20em;
}
.team__conteiner img {
  width: 30px;
}
.team__item {
  padding: 2em;
  background-color: var(--DarkBlue4);
  margin-bottom: 2em;
  border-radius: 5px;
}
.team__item p {
  margin: 0;
  font-size: 10px;
}
.team__item p.title_p {
  position: relative;
  left: 5em;
}
.team__item img {
  width: 40px;
  border-radius: 50%;
  position: relative;
  top: 40px;
}
.team__item h3 {
  position: relative;
  left: 4em;
  margin: 0;
  font-size: 12px;
}

.signin {
  padding: 1em;
  text-align: center;
  position: absolute;
  z-index: 1;
}
.signin__box {
  background: var(--DarkBlue1);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  border-radius: 10px;
  padding: 2em;
  transform: translateY(-60%);
}
.signin p {
  margin: 0;
  padding: 1em;
}
.signin button {
  border: 0;
  padding: 1em 5em;
  border-radius: 1.5em;
  margin-top: 10px;
  color: var(--White);
  background-color: var(--Cyan);
  font-weight: 700;
}
.signin input {
  border: 0;
  padding: 1em 3em;
  border-radius: 1.5em;
  margin-top: 10px;
  background-color: var(--White);
}

footer {
  background: var(--DarkBlue3);
  position: absolute;
}
footer .logo {
  padding: 2em;
  padding-top: 15em;
}

.conteiner {
  padding: 2em;
}
.conteiner__p {
  margin: 0;
  margin-bottom: 1em;
  padding: 0em 2em;
}
.conteiner ul {
  list-style: none;
  padding-left: 0;
  margin-top: 4em;
}
.conteiner img {
  display: block;
  position: absolute;
}

.icons i.fab.fa-facebook-f {
  padding-left: 13px;
  padding-right: 13px;
}

.icons {
  display: flex;
  justify-content: center;
  padding-bottom: 3em;
}
.icons i {
  margin-left: 10px;
  border: 1px solid;
  border-radius: 50%;
  padding: 10px;
  color: white;
}
.icons i:hover {
  color: var(--DarkBlue1);
}

:root {
  --DarkBlue1: hsl(217, 28%, 15%);
  --DarkBlue2: hsl(218, 28%, 13%);
  --DarkBlue3: hsl(216, 53%, 9%);
  --DarkBlue4: hsl(219, 30%, 18%);
  --Cyan: hsl(176, 68%, 56%);
  --Blue: hsl(198, 60%, 50%);
  --White: hsl(0, 0%, 100%);
  font-size: 14px;
  --wrapperSpace: 1.5em;
}

/*# sourceMappingURL=style.css.map */
