footer {
  background: var(--DarkBlue3);
  position: absolute;
  & .logo {
    padding: 2em;
    padding-top: 15em;
  }
}

.conteiner {
  padding: 2em;
  &__p {
    margin: 0;
    margin-bottom: 1em;
    padding: 0em 2em;
  }
  & ul {
    list-style: none;
    padding-left: 0;
    margin-top: 4em;
  }
  & img {
    display: block;
    position: absolute;
  }
}
.icons i.fab.fa-facebook-f {
  padding-left: 13px;
  padding-right: 13px;
}
.icons {
  display: flex;
  justify-content: center;
  padding-bottom: 3em;
  & i {
    margin-left: 10px;
    border: 1px solid;
    border-radius: 50%;
    padding: 10px;
    color: white;
    &:hover {
      color: var(--DarkBlue1);
    }
  }
}
