header {
  display: flex;
  font-weight: 400;
  a {
    margin-left: 15px;
    text-decoration: none;
    color: var(--white);
  }
  img {
    position: relative;
    padding: 2em;
    height: 30px;
  }
  nav {
    padding-top: 2em;
    height: 1em;
  }
  @media screen and(min-width:775px) {
    justify-content: space-between;
    padding: 0px 6em;
  }
}
