header {
  display: flex;
  font-weight: 400;
  ul {
    display: flex;
    list-style: none;
    position: absolute;
    padding: 1em;
  }
  a {
    margin-left: 15px;
    text-decoration: none;
    color: var(--white);
  }
  img {
    position: relative;
    padding: 2em;
    height: 30px;
  }
}
