body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  background-color: var(--DarkBlue1);
  color: var(--White);
}

.hero {
  text-align: center;
  height: 600px;
  &__img {
    height: 275px;
    position: relative;
    top: 40px;
    background: url("/static/images/illustration-intro.png") center no-repeat;
    background-size: 319px;

    z-index: 2;
  }
  &__img2 {
    height: 275px;

    background: url("/static/images/bg-curvy-mobile.svg") center no-repeat;
    position: relative;
    background-size: 375px;
  }
  &__conteiner {
    background: var(--DarkBlue2);
    position: relative;
    top: -5em;
    height: 10em;
  }
}
.title {
  &__h1 {
    padding: 15px;
    font-family: "Raleway", sans-serif;
    font-size: 1.7em;
    line-height: 1.5;
    position: absolute;
    left: 0;
    z-index: 1;
  }
}
.wrapper {
  padding: 0 var(--wrapperSpace);
}
.button {
  border: 0;
  padding: 1em 5em;
  border-radius: 1.5em;
  color: var(--White);
  background-color: var(--Cyan);
  position: relative;
  top: -6em;
}
.copy {
  margin: 0px;
  line-height: 1.8;
  padding: 3em;
  position: relative;
  top: -6em;
  @media screen and(min-width:775px) {
  }
}
