.stay {
  background: var(--DarkBlue2);
  text-align: center;
  &__img {
    padding-top: 7em;
    height: 17em;
  }
  &__h1 {
    font-size: 20px;
    margin: 0;
    padding: 15px;
  }
  &__p {
    margin: 0;
    text-align: left;
    padding: 20px;
  }
}
.arrow {
  background: var(--DarkBlue2);
  padding-left: 20px;
  padding-bottom: 20px;
  &__a {
    text-decoration: none;
    color: var(--Cyan);
    &::before {
      content: "";
      position: absolute;
      margin-top: 20px;
      height: 2px;
      background: var(--Cyan);
      width: 150px;
    }
  }
}
