.team {
  background: var(--DarkBlue2);
  position: relative;
  padding-top: 10em;
  padding-bottom: 7em;
  &__conteiner {
    padding: 3em;
    padding-bottom: 20em;
    & img {
      width: 30px;
    }
  }
  &__item {
    padding: 2em;

    background-color: var(--DarkBlue4);
    margin-bottom: 2em;
    border-radius: 5px;
    & p {
      margin: 0;
      font-size: 10px;
      &.title_p {
        position: relative;
        left: 5em;
      }
    }
    & img {
      width: 40px;
      border-radius: 50%;
      position: relative;
      top: 40px;
    }
    & h3 {
      position: relative;
      left: 4em;
      margin: 0;
      font-size: 12px;
    }
  }
  @media screen and (min-width: 775px) {
    position: relative;
    top: 30em;
    &__item {
      height: 200px;
      width: 300px;
      margin-left: 2em;

      & p {
        font-size: 1em;
        line-height: 2em;
      }
    }
    &__flex {
      display: flex;
      justify-content: center;
      flex-direction: row;
    }
  }
}
